{% extends "layouts/default-fullscreen_forms.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-9">
                <div class="text-muted text-center mb-6"><big>Atualizar Status do Usuário <br> {{ username }}  </big></div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                  <form class="form" method="post" action="">
                    {{ form.hidden_tag() }}
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.user_status(class="form-control") }}
                    </div>
                  </div>

                    <div class="col-12">
                  </div>
                  <div class="text-center">
                    <button type="submit" name="register" class="btn btn-primary mt-4">Atualizar Status</button>
                  </div>
                    <div class="text-center">
                    <a href= {{url_for('admin_dashboard')}} class="btn btn-primary mt-4">Voltar</a>
                  </div>
                </form>
                </form>
              </div>
            </div>
            <div class="row mt-3">
            </div>            
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
