{% extends "layouts/default-fullscreen_forms.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>
                    
                    {% if msg %}
                      <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                      Crie suas credenciais
                      <br />
                      Ou <a href={{url_for('login')}} >faça login</a> com uma conta existente.
                    {% endif %} 

                  </small>
                </div>

                <form class="form" method="post" action="">

                  {{ form.hidden_tag() }}





                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ form.username(class="form-control", placeholder="Usuário") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.email(class="form-control", placeholder = "Email") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.password(class="form-control", type="password", placeholder = "Senha") }}
                    </div>
                  </div>
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister"><span>Eu concordo com os <a href="#">Termos e Condições!</a></span></label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" name="register" class="btn btn-primary mt-4">Cadastrar</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                  <a href={{url_for('login')}} class="text-light"><small>Login</small></a>
                </div>
                <div class="col-6 text-right">
                  <a href="https://appseed.us/support" class="text-light"><small>Suporte</small></a>
                </div>
            </div>            
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
